# Exercícios

## 1) Considerando o código abaixo, faça:
    -> Crie um df a partir de data cujo index seja labels. Faça os imports necessários
    -> Preencha os valores faltantes com a média dos valores
    -> Retorne uma lista única dos animais
    -> Compute as estatísticas básicas (contagem, soma, média, desvio padrão e variância)

In [2]:
import numpy as np
import pandas as pd

In [20]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [21]:
# resposta 1
from pandas import Series, DataFrame

#-> Crie um df a partir de data cujo index seja labels. Faça os imports necessários
df = DataFrame(data,
        columns=['animal', 'age', 'visits', 'priority'],
        index=labels)
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [22]:
#-> Preencha os valores faltantes com a média dos valores
df = df.fillna(df.mean())
print(df)

  animal     age  visits priority
a    cat  2.5000       1      yes
b    cat  3.0000       3      yes
c  snake  0.5000       2       no
d    dog  3.4375       3      yes
e    dog  5.0000       2       no
f    cat  2.0000       3       no
g  snake  4.5000       1       no
h    cat  3.4375       1      yes
i    dog  7.0000       2       no
j    dog  3.0000       1       no

In [12]:
#-> Retorne uma lista única dos animais

animals = Series(df['animal'].values).unique()
print(animals)

['cat' 'snake' 'dog']

In [23]:
#-> Compute as estatísticas básicas (contagem, soma, média, desvio padrão e variância)

def estats_basics (l):
    import numpy as np
    return [np.count_nonzero(l), np.sum(l), np.mean(l), np.std(l), np.var(l)]

estats = {'age': estats_basics(df['age'].values),
        'visits': estats_basics(df['visits'].values)}

estat_columns = ['age', 'visits']
estat_index = ['contagem', 'soma', 'media', 'desvio padrao',  'variancia']

estatisticas = DataFrame(estats,
                columns=estat_columns,
                index=estat_index)

print(estatisticas)

                     age     visits
contagem       10.000000  10.000000
soma           34.375000  19.000000
media           3.437500   1.900000
desvio padrao   1.679844   0.830662
variancia       2.821875   0.690000

## 2) Considerando o mesmo código, faça:
    -> Crie uma função que multiplique o número de visitas por 2. Retorne o data frame completo com valores atualizados
    -> Crie uma função que insere uma coluna que contenha um ranking dos animais mais visitados. Retorne o dataframe ordenado de forma descendente
    -> Verifique se os animais da seguinte lista pertencem aos dados originais: New_animals = [‘cow’,’horse’,shark’]

In [26]:
# resposta 2

# -> Crie uma função que multiplique o número de visitas por 2. Retorne o data frame completo com valores atualizados
f = lambda x: x * 2

df['visits'] = df['visits'].apply(f)
print(df)

  animal     age  visits priority
a    cat  2.5000       2      yes
b    cat  3.0000       6      yes
c  snake  0.5000       4       no
d    dog  3.4375       6      yes
e    dog  5.0000       4       no
f    cat  2.0000       6       no
g  snake  4.5000       2       no
h    cat  3.4375       2      yes
i    dog  7.0000       4       no
j    dog  3.0000       2       no

In [67]:
# -> Crie uma função que insere uma coluna que contenha um ranking dos animais mais visitados.
#Retorne o dataframe ordenado de forma descendente

df['rank'] = df['visits'].rank()
df = df.sort_values(by = 'rank', ascending=False)
print(df)

  animal     age  visits priority  rank
b    cat  3.0000       6      yes   9.0
d    dog  3.4375       6      yes   9.0
f    cat  2.0000       6       no   9.0
c  snake  0.5000       4       no   6.0
e    dog  5.0000       4       no   6.0
i    dog  7.0000       4       no   6.0
a    cat  2.5000       2      yes   2.5
g  snake  4.5000       2       no   2.5
h    cat  3.4375       2      yes   2.5
j    dog  3.0000       2       no   2.5

In [97]:
# -> Verifique se os animais da seguinte lista pertencem aos dados originais:
# New_animals = [‘cow’,’horse’,shark’]
new_animals = ['cow', 'horse', 'shark']
Series(new_animals,index=new_animals).isin(Series(df['animal']))

cow      False
horse    False
shark    False
dtype: bool

## 3) Crie uma função que filtre as linhas do df no código abaixo de acordo com a palavra-chave passada como parâmetro (apenas estado):

In [98]:
df = pd.DataFrame({'DateofBirth':['1986-11-11','1999-05-12','1976-01-01',
                                  '1986-06-01','1983-06-04','1990-03-07',
                                  '1999-07-09'],
                   'State':['NY','TX','FL','AL','AK','TX','TX']},
                 index=['Jane','Nick','Aaron','Penelope','Dean',
                        'Christina','Cornelia'])
print(df)

          DateofBirth State
Jane       1986-11-11    NY
Nick       1999-05-12    TX
Aaron      1976-01-01    FL
Penelope   1986-06-01    AL
Dean       1983-06-04    AK
Christina  1990-03-07    TX
Cornelia   1999-07-09    TX

In [107]:
state = 'TX'

df[df['State']==state]

          DateofBirth State
Nick       1999-05-12    TX
Christina  1990-03-07    TX
Cornelia   1999-07-09    TX